.lazyLoading{
    opacity:0;
    animation:lazyLoading 250ms 500ms linear;
    animation-fill-mode:forwards;
    }
    
    @keyframes lazyLoading{
    from{
    opacity:0;
    }
    to{
    opacity:1;
    }
    }